h1 {
  
body {
  font-family: system-ui;
  background-color: Blue;
  color: Lime;
  height: 75vh;
  margin: 0;
  display: grid;
  font-size: 50px;
  place-items: center;
  
}
   ul {
  list-style-type: none;
  margin: -0;
  padding: 0;
  width: 1000px;
  background-color: #ff6f6f;
}

li a {
  display: block;
  padding: 16px 50px; 
  text-decoration: none;
}

li a:hover {
  background-color: #333;
  color: white;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}   
